/* configurações iniciais */

* {
    margin: 0;
}

:root {
    font-size: 62.5%;

    /* variaveis de cores */

    --blue: #0008BC;
    --orange:#E55300;
    --gray: #888888;
    --white1: #FFFFFF;
    --white2: #F5F5F5;
}

html, body {
    width: 100%;
}

body {
    font-size: 2.5rem;
}

/*  Fundo */

body {
    background-color: var(--white2);
}

/*  Cabeçalho */

.header {
    width: 100%;
}

.head1 {
    display: flex;
    justify-content: right;
    width: 100%;
}

.headcontato {
    color: var(--blue);
    Font-family: Urbanist;
    Font-style: Medium;
}

.headimg {
    background-color: var(--blue);
}

/*  Div1 */

/*  Div2 */

/*  Div3 */

/*  Rodapé */